[submodule "content/themes/casper"]
	path = content/themes/casper
	url = ../../TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
	url = ../../TryGhost/Admin.git
[submodule "knex-migrator"]
	path = knex-migrator
	url = git@github.com:aenon-dev/knex-migrator.git
